<div class="row row-col-4">
    <div class="col" *ngFor="let prd of list">
        <div class="card" style="width: 18rem;">
            <img src="{{ prd.Img }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ prd.Name }}</h5>
                <p class="card-text">{{ prd.Quantity }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>