<!-- <div class="row row-col-4">
    <div class="col" *ngFor="let prd of list">
        <div class="card" style="width: 18rem;">
            <img src="{{ prd.Img }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ prd.Name }}</h5>
                <p class="card-text">{{ prd.Quantity }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div> -->

<div class="row mt-5 justify-content-center" >
    <div ProductCard Color="bluegray"  class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 m-3" *ngFor="let prd of list">
        <img [src]="prd.Img" class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title">{{prd.Name}}</h5>
            <p class="card-text">{{prd.Price|currency:"EGY":"  ج.مصري  "}}</p>
            <p class="card-text" [ngSwitch]="prd.Quantity">
                <span class="badge rounded-pill bg-danger" *ngSwitchCase="0">OUT of Stock</span>
                <span class="badge rounded-pill bg-warning" *ngSwitchCase="1">Last Item in Stock</span>
                <span class="badge rounded-pill bg-secondary" *ngSwitchCase="2">{{prd.Quantity}} items in stock </span>
                <span class="badge rounded-pill bg-primary" *ngSwitchDefault>{{prd.Quantity}} items in stock </span>
            </p>
        </div>
        <div class="card-body d-flex justify-content-between">
            <!-- <a class="btn btn-outline-primary" [routerLink]="['/product',prd.id]">Details</a> -->
            <button class="btn btn-outline-primary" (click)="details(prd.ID)">Details</button>
            <!-- <a class="btn btn-outline-primary" [routerLink]="['/product',prd.id]">Details</a> -->
            <a class="btn btn-outline-secondary"
            [ngClass]="{'disabled': prd.Quantity==0}"
            (click)="addToCart(prd.ID,prd.Price)">Add to cart</a>
        </div>
    </div>
</div>




<section>
    <form [formGroup]="buyForm" (ngSubmit)="addProduct()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ID</label>
            <input type="text" formControlName="ID" class="form-control">
            <div id="emailHelp" class="form-text">Enter product ID.</div>
            <div *ngIf="buyForm.get('ID')?.touched && buyForm.get('ID')?.invalid">
                <span class="text-danger" *ngIf="buyForm.get('ID')?.errors?.['required']">Please enter an ID</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="email" formControlName="Name" class="form-control">
            <div id="emailHelp" class="form-text">Enter Product Name.</div>
            <div *ngIf="buyForm.get('Name')?.touched && buyForm.get('Name')?.invalid">
                <span class="text-danger" *ngIf="buyForm.get('Name')?.errors?.['required']">Please enter a name</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Quantity</label>
            <input type="email" formControlName="Quantity" class="form-control">
            <div id="emailHelp" class="form-text">Enter Quantity.</div>
            <div *ngIf="buyForm.get('Quantity')?.touched && buyForm.get('Quantity')?.invalid">
                <span class="text-danger" *ngIf="buyForm.get('Quantity')?.errors?.['required']">Please enter quantity</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Price</label>
            <input type="email" formControlName="Price" class="form-control" id="exampleInputEmail1">
            <div id="emailHelp" class="form-text">Enter Price</div>
            <div *ngIf="buyForm.get('Price')?.touched && buyForm.get('Price')?.invalid">
                <span class="text-danger" *ngIf="buyForm.get('Price')?.errors?.['required']">Please enter the price</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Image</label>
            <input type="email" formControlName="Img" class="form-control" id="exampleInputEmail1">
            <div id="emailHelp" class="form-text">Enter Image path url</div>
            <div *ngIf="buyForm.get('Img')?.touched && buyForm.get('Img')?.invalid">
                <span class="text-danger" *ngIf="buyForm.get('Img')?.errors?.['required']">Please enter an image url</span>
            </div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="buyForm.invalid">Submit</button>
    </form>
</section>

<section>
    <form [formGroup]="addperson" (ngSubmit)="register()" >
        <div id="body_1">
          <div>
          <label for="Name"></label>
          <input type="text" placeholder="Name*" name="name" formControlName="name" required>
      
          <label for="psw"></label>
          <input type="text" placeholder="Username*" name="userName"formControlName="userName" required>
      
          <label for="psw-repeat"></label>
          <input type="password" placeholder="Password*" name="password"  formControlName="password"required>
          <label for="psw"></label>
          <input type="password" placeholder="Number*" name="psw" formControlName="password" required>
      
          <label for="psw-repeat"></label>
          <input type="email" placeholder="Email" name="email" formControlName="email" required>
      
          
            <button type="submit" class="registerbtn">Register</button></div>
        </div>
      </form>
</section>